/* font imported */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

/* 
font-family: "Inter", sans-serif;
font-family: "Dancing Script", cursive; 
*/

* {
    margin: 0;
    padding: 0;
}

/* shared style */
body {
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

.width {
    max-width: 80%;
    margin: 0 auto;
}

.p-color {
    color: rgb(230, 83, 60);
}

.bg-color {
    background-color: rgb(230, 83, 60);
}

.btn {
    padding: 16px 40px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.sub-title {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 24px;
    margin: 18px 0;
}

/* nav style */
.hamburger-menu {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    padding: 10px;
}

.menu {
    color: white;
    display: flex;
    gap: 45px;
    border: 1px solid #ffffff1a;
    padding: 5px;
    border-radius: 40px;
}

.menu>p {
    padding: 8px 20px;
    border-radius: 40px;
    font-size: 18px;
    /* font-weight: 400; */
}

.active {
    font-weight: 600;
}


/* header style */
.header {
    padding-top: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(24, 24, 24) 100%);
}

/* banner style */
.banner {
    height: 630px;
    display: flex;
    gap: 130px;
    /* background-color: aqua; */
}

.banner-left {
    width: 50%;
    padding-right: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shape {
    font-family: "Dancing Script", cursive;
    font-size: 100px;
    font-weight: 900;
}

.banner-left>h1 {
    font-size: 78px;
    font-weight: 900;
    line-height: 100%;
    margin: 10px 0;
}

.banner-btn {
    margin: 15px 0;
}

.banner-right {
    width: 50%;
    text-align: center;
    position: relative;
}

.banner-right img {
    max-width: 100%;
}

.btn2 {
    padding: 16px 40px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}

.btn3 {
    display: none;
    padding: 16px 40px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.widget1 {
    height: 96px;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(81, 81, 81, 0.059);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 430px;
    left: 50px;
}

.widget2 {
    height: 96px;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(59, 59, 59, 0.354);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 130px;
    left: 410px;
}

.red-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.widget-p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
}

.widget-h3 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.widget-h2 {
    color: rgb(250, 250, 249);
    font-size: 45px;
    font-weight: 900;
}










/* mobile responsive */
@media screen and (max-width:576px) {
    .width {
        max-width: 90%;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .banner {
        flex-direction: column;
        gap: 5px;
    }

    .banner-left {
        width: 90%;
        padding: 20px 6px;
    }

    .banner-right {
        width: 90%;
        text-align: left;
        position: relative;
    }

    .shape {
        font-family: "Dancing Script", cursive;
        font-size: 60px;
        font-weight: 900;
    }

    .banner-left>h1 {
        font-size: 40px;
        font-weight: 900;
        line-height: 120%;
        margin: 10px 0;
    }

    .banner-btn {
        display: flex;
    }

    .btn {
        display: none;
    }

    .btn2 {
        padding: 20px 25px;
        border: 1px solid white;
        font-size: 16px;
    }

    .btn3 {
        display: block;
        padding: 20px 25px;
        border-radius: 40px;
        font-size: 16px;
    }

    .banner-right img {
        max-width: 100%;
    }

    .red-circle {
        width: 30px;
        height: 30px;
    }

    .widget1 {
        height: 80px;
        width: 160px;
        top: 290px;
        left: 40px;
    }

    .widget2 {
        height: 80px;
        width: 160px;
        top: 70px;
        left: 180px;
    }
    .widget-h2 {
        color: rgb(250, 250, 249);
        font-size: 24px;
        font-weight: 900;
    }

}



/* tablet responsive */
@media screen and (min-width:578px) and (max-width:992px) {
    .width {
        max-width: 95%;
        margin: 0 auto;
    }

    .menu {
        gap: 10px;
    }

    .banner {
        flex-direction: column;
        gap: 5px;
    }

    .banner-left {
        width: 80%;
        padding: 50px 50px;
    }

    .banner-right {
        width: 80%;
        padding: 0 50px;
    }
}